In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.DataFrame(np.random.randint(1,10, size=(12,4)), columns=['TEST #','MIN', 'MAX','MEASURED'])
data['MEASURED'][2] = np.nan
data['NAME'] = ['a','b','c','a','b','c','a','b','c','a','b','c']
data['TEST #'] = [3.1,3.2,3.3,4.1,4.2,4.3,5.1,5.2,5.3,6.1,6.2,6.3]   
data['MIN'] = list(range(len(data['TEST #']))) #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
data['MAX'] = list(range(len(data['TEST #'])))#[5,4, 4, 9, 9, 9 ,17, 18, 19, 20, 21, 22]                
#add the checkable column to the DataFrame
data['Check'] = True

print(data)

    TEST #  MIN  MAX  MEASURED NAME  Check
0      3.1    0    0       3.0    a   True
1      3.2    1    1       9.0    b   True
2      3.3    2    2       NaN    c   True
3      4.1    3    3       7.0    a   True
4      4.2    4    4       6.0    b   True
5      4.3    5    5       7.0    c   True
6      5.1    6    6       4.0    a   True
7      5.2    7    7       1.0    b   True
8      5.3    8    8       5.0    c   True
9      6.1    9    9       1.0    a   True
10     6.2   10   10       9.0    b   True
11     6.3   11   11       5.0    c   True

In [21]:
    def getCoupledRows(row):

        test_num = data.iloc[row]['TEST #'].astype(int)
        
        print('test_num: {}'.format(test_num))
        mask = data['TEST #'].values.astype(int) == test_num
        print('mask: ')
        print(mask)
        print(data['TEST #'][mask])
        return data['TEST #'][mask].index

In [24]:
row = 3
getCoupledRows(row)

test_num: 4
mask:
[False False False  True  True  True False False False False False False]
3    4.1
4    4.2
5    4.3
Name: TEST #, dtype: float64

Int64Index([3, 4, 5], dtype='int64')

In [17]:
data

    TEST #  MIN  MAX  MEASURED NAME  Check
0      3.1    0    0       3.0    a   True
1      3.2    1    1       9.0    b   True
2      3.3    2    2       NaN    c   True
3      4.1    3    3       7.0    a   True
4      4.2    4    4       6.0    b   True
5      4.3    5    5       7.0    c   True
6      5.1    6    6       4.0    a   True
7      5.2    7    7       1.0    b   True
8      5.3    8    8       5.0    c   True
9      6.1    9    9       1.0    a   True
10     6.2   10   10       9.0    b   True
11     6.3   11   11       5.0    c   True

In [20]:
row =2
data.iloc[row]['TEST #'].astype(int)

3