In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [ ]:
test_df = pd.read_excel('C:\\Users\\Erik\\git\\pluto\\PWR_Board_TestReportTemplate.xlsx', 'Report')


quantity_df= pd.read_excel('C:\\Users\\Erik\\git\\pluto\\PWR_Board_TestReportTemplate.xlsx', 'Quantities')

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df1
'''

'''

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

'\n\n'

In [3]:
for row in df1.iterrows():
    print(type(row[1]))
    print(row[1])

<class 'pandas.core.series.Series'>
A    A0
B    B0
C    C0
D    D0
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
A    A1
B    B1
C    C1
D    D1
Name: 1, dtype: object
<class 'pandas.core.series.Series'>
A    A2
B    B2
C    C2
D    D2
Name: 2, dtype: object
<class 'pandas.core.series.Series'>
A    A3
B    B3
C    C3
D    D3
Name: 3, dtype: object

In [ ]:
#column_names = df1.columns.tolist()
for row in df1.iterrows():
    #this next part in constructor of each test class object
    ser = row[1] #(index, Series) comes from iterrows()
    column_names = ser.index.tolist()
    my_dict = {}
    for column_name in column_names:
        my_dict[column_name] = ser[column_name]
    print(my_dict) #each test classs object has a dictionary

In [ ]:
params = df1.columns.tolist()
params

In [4]:
a = {'A': 'A0', 'B': 'B0', 'C': 'C0', 'D': 'D0'}
b = {'A': 'A1', 'B': 'B1', 'C': 'C1', 'D': 'D1'}
c = {'A': 'A2', 'B': 'B2', 'C': 'C2', 'D': 'D2'}
d = {'A': 'A3', 'B': 'B3', 'C': 'C3', 'D': 'D3'}

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))
enum = enumerate(seasons)

In [5]:
df = pd.DataFrame(data=[a,b,c,d])


time_stamp = datetime.now().strftime('%Y-%m-%d_%H_%M')
filename = 'SerNum{}_Results{}'.format(SerialNumber, time_stamp)
os.path.join(os.path.expanduser('~'), 'Desktop', 'PWRAutomatedTest', ')
df.to_csv()

    A   B   C   D TestName
0  A0  B0  C0  D0    test1
1  A1  B1  C1  D1    test2
2  A2  B2  C2  D2    test3
3  A3  B3  C3  D3    test4

In [ ]:
#column_names = df1.columns.tolist()
tests = []
for row in test_df.iterrows():
    #this next part in constructor of each test class object
    ser = row[1] #(index, Series) comes from iterrows()
    column_names = ser.index.tolist()
    my_dict = {}
    for column_name in column_names:
        my_dict[column_name] = ser[column_name]
    tests.append(pwr_board_test_class(my_dict))
quantities = []
for row in quantity_df.iterrows():
    #this next part in constructor of each test class object
    ser = row[1] #(index, Series) comes from iterrows()
    column_names = ser.index.tolist()
    my_dict = {}
    for column_name in column_names:
        my_dict[column_name] = ser[column_name]
    quantities.append(quantity(my_dict))

There are tests, which have margins, pass/fail status, timestamp, units. 
There are quantities, which are used to evaluate tests, and they have channel assignments.  
A quantity can know for what test numbers what the valid margins are, answersing queries such
as .valid() or .invalid()
Tests can use 0 or more quantities, to evaluate pass/fail status. 


Tests are ordered and numbered sequentially, so one can access them from a list of objects.

Tests also use stimuli, such as input voltages. 
Test jig actions, such as relay configuration, may be encapsulated by a class also.

In [ ]:
#from pwr_board_test_class import pwr_board_test_class, quantity